<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_GROUP_ID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Halo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.halo.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(HALO_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>Halo usa la fotocamera per i tuoi post effimeri.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Halo usa il microfono per registrare le note audio dei tuoi post.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Halo accede alle foto per pubblicare i tuoi post effimeri.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-MediumItalic.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
